My workflow 2 (3).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -22720,
        480
      ],
      "id": "ebab8326-ff99-4438-a4fc-b3d48f2a5e4b",
      "name": "Telegram Trigger",
      "webhookId": "733724bc-961c-412b-9e2f-f585afef1e3f",
      "credentials": {
        "telegramApi": {
          "id": "G0gojYHuUH765tfF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0b7afb5-b134-4b80-b233-05914c0e077e",
              "name": "img_url",
              "value": "=http://api.telegram.org/bot{{ $vars.Telegrambotkey }}/{{ $json.result.file_path }}",
              "type": "string"
            },
            {
              "id": "d4bb1a32-1a5e-49e1-adad-cd98e2e2f900",
              "name": "prompt",
              "value": "={{ $('Telegram Trigger').item.json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22272,
        480
      ],
      "id": "f41763ae-18ce-45cb-8c04-f114504d3b29",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $vars.Telegrambotkey }}/{{ $('get file path').item.json.result.file_path }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -22048,
        480
      ],
      "id": "63f6521a-0c24-4695-8279-0bab2ba8216e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.Telegrambotkey }}/getFile?file_id=\n{{ $json.message.photo[1].file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -22496,
        480
      ],
      "id": "df2c4c50-2c83-4480-b5cc-1cfdb4b8229a",
      "name": "get file path"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -21824,
        480
      ],
      "id": "784a8643-c195-4cf7-8d05-8d69b7983805",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "................."
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -21152,
        480
      ],
      "id": "3227027b-7ed7-43ab-a2cb-72098581828f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst lastItem = items[items.length - 1];\nconst base64Data =\n  lastItem?.json?.candidates[0]?.content?.parts?.slice(-1)[0]?.inlineData?.data;\n\nreturn { base64Data } ;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20928,
        480
      ],
      "id": "d51bdd70-f2eb-4b69-8ca5-e90dacedae70",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0621ef16-af53-44bd-99a8-f5d116c644a8",
              "name": "Image64String ",
              "value": "={{ $json.base64Data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20704,
        480
      ],
      "id": "927f73e4-31bc-4a94-9903-76771f3e1eab",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "Image64String ",
        "binaryPropertyName": "GoogleCreatedImage",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -20480,
        480
      ],
      "id": "2eafd574-a31d-414c-9d93-6d38bb638c2e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "binaryPropertyName": "GoogleCreatedImage",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -20256,
        480
      ],
      "id": "2fd4a5a2-f1ab-46d8-a60b-caa7336e6a6b",
      "name": "Send a photo message",
      "webhookId": "4b91efa4-322d-4ba7-b65f-e789ee94ea7b",
      "credentials": {
        "telegramApi": {
          "id": "G0gojYHuUH765tfF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.result.chat.id }}",
        "message": "Here's your post for your social media account! Please choose an option below and include your prompt. ",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Approved! ",
              "placeholder": "Give your feedback (Satisfied / Good / Bad)"
            },
            {
              "fieldLabel": "Undo this edit and try again with the original logo",
              "placeholder": "Suggestions "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -20032,
        480
      ],
      "id": "884951e1-e8b9-4a03-be5d-8c051fffc79b",
      "name": "Send message and wait for response",
      "webhookId": "304f775b-5227-4dc1-9e99-1538a974b6fb",
      "credentials": {
        "telegramApi": {
          "id": "G0gojYHuUH765tfF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5eda3d66-245b-49a4-b5a0-72827b1818f3",
              "name": "InputData",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -21600,
        480
      ],
      "id": "4d7a2391-0ad8-4e3b-a15b-eb811f5c5fef",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Hope you like my services ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -19584,
        384
      ],
      "id": "c5a5196d-8c49-4939-8f0e-a24e958155ca",
      "name": "Send a text message1",
      "webhookId": "17d275f6-6666-494a-ab41-dcdf90ea4912",
      "credentials": {
        "telegramApi": {
          "id": "G0gojYHuUH765tfF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Please Try again \n\n{{ $json.output.intent }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -19584,
        576
      ],
      "id": "9ad7f27f-9be8-48c2-a932-a9d392644714",
      "name": "Send a text message2",
      "webhookId": "8cbde81b-aa63-4f2b-9354-88ab7c7cb450",
      "credentials": {
        "telegramApi": {
          "id": "G0gojYHuUH765tfF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b9806ae-155c-4336-9bd6-06fe56a0f761",
              "leftValue": "={{ $('Send message and wait for response').item.json.data['Approved! '] }}",
              "rightValue": "Good/ Satisfied ",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b98a5880-cc71-415b-90ce-b6bef0ab30e7",
              "leftValue": "={{ $json.data['Undo this edit and try again with the original logo'] }}",
              "rightValue": "=make it more colorful ",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -19808,
        480
      ],
      "id": "d612e1b9-2cc7-4916-9610-9f13d3f92702",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data from previous nodes\nconst imageData = $('Edit Fields2').item.json.InputData;\nconst prompt = $('Edit Fields').item.json.prompt;\n\n// Build the Gemini API request body\nconst requestBody = {\n  contents: [\n    {\n      parts: [\n        {\n          inline_data: {\n            mime_type: 'image/png',\n            data: imageData\n          }\n        },\n        {\n          text: prompt\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    responseModalities: ['IMAGE']\n  }\n};\n\n// Return the request body\nreturn {\n  json: requestBody\n};"
      },
      "id": "3578f516-bdb8-425d-9a66-cb0b66e81138",
      "name": "Build Gemini Request Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21376,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "get file path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get file path": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Build Gemini Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Request Body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de67f5b5-2aab-4588-919e-77be138f3840",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a2296f05e4d6facf3e0b69009ed6ce0700276e8b8ab6907a3826f8f7d5ee877"
  },
  "id": "LlqzhdjNKpVMP1lT",
  "tags": []
}
